<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>Isfar's Portfolio</title>
    
<link rel="stylesheet" href="{% static 'website/css/style.css' %}">

<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap" rel="stylesheet"> 

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>


</style>
</head>
<body>

    <div class="hero">
        <nav>
            <h2 class="logo">Portfo<span>lio</span></h2>
            <u1>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Me</a></li>
                <li><a href="#">Contact</a></li>
            </u1>
            <a href="#" class="btn">Subscribe</a>
        </nav>

        <div class="content">
            <h4>Hello, my name is</h4>
            <h1><span>Isfar</span> Hasan Ishan</h1>
            <h3>Web Development Trainee.</h3>
            <div class="newsletter">
                <form>
                    <input type="email" name="email" id="mail" placeholder="Enter Your Email">
                    <Input type="submit" name="submit" value="Let's Start">
                </form>
            </div>
        </div>
    </div>

    <section class="about">
        <div class="main">
            <img src="{%static 'website/img/Mydp.JPG'%}">
            
            <div class="about-text">

                <h2>About Me</h2>
                
                <h5>BSc. in CSE, <span>Brac University</span></h5>
                
                <p>This is Isfar, an enthusiast, keen to work for an organization where
                I would get the opportunity to improve my skills as well as enrich my 
                field of experience.</p>
                
                <button type="button">Let's Talk</button>
            </div>
            


        </div>



    </section>

    <div class="contact">

        <h1>Address: House no. 05, Roadno. 31, Pallabi, Mirpur-12, Dhaka-1216</h1>
        <h1>Contact: 01521256761</h1>
        <h1>Email: isfar.hasan.ishan@g.bracu.ac.bd</h1>
        <a class="button-two" href="#">Hire Me</a>

    </div>
    <footer>

        <h2>Social</h2>

        <div class="social">

            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin-in"></i></i></a>

        </div>
        <p>CopyRight By Isfar Hasan Ishan</p>

    </footer>
</style>


</body>
</html>

